<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="PATTERN">%p - %d - %C - [%M] - %m %n </Property>
		<Property name="location">./target/logs</Property>
		<Property name="auditLocation">./target/Audit
		</Property>	
	</Properties>
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${PATTERN}" />
		</Console>

		<RollingFile name="AuditLogger" fileName="${auditLocation}/audit.log"
			filePattern="${auditLocation}/files/audit-%d{yyyy-MM-dd-HH-SS}- %i.log">
			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB">
				</SizeBasedTriggeringPolicy>
			</Policies>
			<DefaultRolloverStrategy max="1">
				<Delete basePath="${auditLocation}">
					<IfFileName glob="*/log-*.log" />
					<IfLastModified age="P30D" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="com.isteer" level="debug" additivity="false">
			<AppenderRef ref="Console"></AppenderRef>
			
		</Logger>
		<Logger name="AuditLogs" level="debug" additivity="false">
			<AppenderRef ref="AuditLogger"></AppenderRef>
		</Logger>

		<Root level="error">
			<AppenderRef ref="Console"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>